* {
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font: 1em Helvetica, sans-serif;
  lineHeight: 1;
  color: white;
}

h1 {
  font-size: 20vw;
  margin: 0;
}

nav {
  font-size: 1.5vw;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
}

ul {
  font-size: 2vw;
  margin: 0;
  left: 0;
  padding-left: 1vw;
  list-style: none;
}

span {
  opacity: 0.3;
}
span.inactive {
  opacity: 0.5;
}
span.active {
  opacity: 1;
}

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
}

a, button {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.25);
  padding: 0.25em 0.75em;
  margin: 0.25em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  outline: none;
  border: none;
  cursor: pointer;
}

a.active, button.active {
  color: rgba(0, 0, 0, 0.75);
  background: rgba(0, 0, 0, 0.25);
}
